@use '../variables' as *;

// 1) Keyframes para o pulso
@keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba($blue3, 0.5);
    }
    50% {
      transform: scale(1.05);
      box-shadow: 0 0 0 10px rgba($blue3, 0);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba($blue3, 0);
    }
  }
  
  .button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border: none;           // se quiser
    cursor: pointer;        // deixa claro que é clicável
    display: inline-block;  // garante que o transform funcione
  
    &--primary {
      color: $textColor;
      background-color: $blue3;
      text-decoration: none;
  
      // 2) Aplica a animação de pulso
      animation: pulse 2s infinite ease-in-out;
    }
  
    @media (max-width: 640px) {
      display: block;
      width: 100%;
    }
  
    @media (max-width: 1024px) {
      display: flex;
      align-items: center;
    }
  }
  

